/*variables*/
$body-font: 'Nunito';
$heading-font: 'Nunito';


/*global things*/
html, body {
  height: 100%;
  width: 100%;
  font-family: $body-font;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

#overlay, #main-content {
  width:100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
}



#overlay {

  background-color: #e6e6e6;
  transition: opacity 0.2s;


  a {
    color: black;
    font-weight: bold;
    &:hover {
      color:#d62728;
    }
  }

  .inner {
    text-align: center;
    width: 70%;
    padding-top: 20vh;

    margin: auto;
    font-size: 125%;
  }
}

.card-head {
  font-weight: bolder;
  font-size: 120%;
  text-align: center;
}

.card-desc {
  width: 80%;
  text-align: center;
  margin-left: 10%;
  padding-top: 4vh;
}

.card-icon {
  font-size: 300%;
  text-align: center;
  padding-top: 2.5vh;
}

.card-title {
  font-size: 160%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4vh;
}

#draw-button {
  text-align: center;
  padding-bottom: 6vh;
  .btn {
    font-size: 140%;
    font-weight: bolder;
    padding: 1vh 2vh 1vh 2vh;
    border: 3px solid;
    border-radius: 10px;
    width: 18%;



    &:hover  {
        background-color: #d62728;

    }
  }
}

#info, #exit {
  font-size: 160%;
  position: fixed;
  top: 10px;
  right: 15px;
  &:hover {
    color:  #d62728;
  }
}



/*media queries*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


  .card-container {
    display: inline-block;
    width: 25%;
  }

  .card {
    width: 85%;
    margin: auto;
    height: 40vh;
    border-radius: 10px;
  }

  #game {
    padding-top: 5%;
  }






}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
